@import url(https://fonts.google.com/specimen/Vidaloka?query=vidaloka&preview.size=59&preview.layout=row);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vidaloka";

}
body{
    background-color: rgb(255, 255, 247);
}

.hero {
    background-image: url(../img/IMG_5545.jpg);
    height: 60vh;
}

h1 {
    padding: 40px;
    font-weight: 400;
    font-size: 50px;

}
h2{
    margin: 0px 0px 8px;
    margin-top: 15px;
    text-align: center;
    background-color:rgb(241, 217, 185);
}
.carrusel {
    margin: 10px;
    padding: 30px;
    border-top: solid 3px rgb(241, 217, 185);
   
}
/* ESTILO PRODUCTO */

.formulario {
    padding: 6rem;

}

.camisaRosa {
    display: inline-flex;
    height: 350px;
    width: 350px;
    padding: 1rem;
    margin: 10px;
    border-radius: 30px;
}

.camisaRosa:hover {
    transform: scale(1.1);
}

.container {
    padding: 1rem;
}
.img_class {
    height: 20em;
    border-radius: 0px;
    display:inline-flex;
    background-size: cover;    
    
}
.card-title{
    text-align: center;
}

.card{
    display: flex;
    max-width: 100%;
    gap: 1rem;
}
.card-img-top{
    height: 210px;
    width: 210px;
    max-width: 100%;
}
.card-body{
    height: 300px;
}
.card-text{
    color: rgb(152, 226, 163);
}
.img_class:hover {
    transform: scale(1,1);
}

/*icono whatsapp*/
.whats {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer {
    padding: 3rem;
 text-align: left;
    border-top: solid 3px rgba(241, 217, 185, 0.5);
    
}
