footer {
    border-top: solid 3px rgba(241, 217, 185, 0.5);
    
    .whats {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

$redes: (
    facebook: blue,
    instagram: rgb(255, 255, 85)
);
@each $redsocial,$colordered in $redes {
    .fa-#{$redsocial}{
        background-color: $colordered;
    }
    
}